[submodule ".registry"]
	path = .registry
	url = https://github.com/trafo-universe/universe
	branch = HEAD
[submodule "basefun"]
	path = basefun
	url = https://github.com/r-forge/ctm
	subdir = pkg/basefun
[submodule "cotram"]
	path = cotram
	url = https://github.com/r-forge/ctm
	subdir = pkg/cotram
[submodule "mlt"]
	path = mlt
	url = https://github.com/r-forge/ctm
	subdir = pkg/mlt
[submodule "mlt.docreg"]
	path = mlt.docreg
	url = https://github.com/r-forge/ctm
	subdir = pkg/mlt.docreg
[submodule "tbm"]
	path = tbm
	url = https://github.com/r-forge/ctm
	subdir = pkg/tbm
[submodule "tram"]
	path = tram
	url = https://github.com/r-forge/ctm
	subdir = pkg/tram
[submodule "tramME"]
	path = tramME
	url = https://github.com/r-forge/ctm
	subdir = pkg/tramME
[submodule "tramnet"]
	path = tramnet
	url = https://github.com/r-forge/ctm
	subdir = pkg/tramnet
[submodule "trtf"]
	path = trtf
	url = https://github.com/r-forge/ctm
	subdir = pkg/trtf
[submodule "variables"]
	path = variables
	url = https://github.com/r-forge/ctm
	subdir = pkg/variables
